<!-- navbar -->
<nav class="navbar navbar-fixed-top ">
  <!-- navbar -->
  <%= link_to "sample app", root_path, id: "logo" %>
  <!--end navbar -->
  <div class="">
    <!-- navbar-wrap -->
    <div class="navbar-header">
      <!---navbar-header-->
      <button type="submit" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!--end-navbar-header-->
    <div class="text-capitalize text-center">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <!-- navbar-nav-collapse-->
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to "help", '#' %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <li> <%= link_to "my cart", '' %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out",  method: :delete %>
              </li>
            </ul>
          </li>

          <li><%= link_to "Log in", sessions_new_path%></li>

        </ul>
      </div><!-- navbar-nav-collapse-->
</nav>
<!--end navbar -->