<header class="navbar navbar-fixed-bottom d-flex">
    <div class="col-xs-8">
        <form class="form-inline">
            <div class="input-group form-bottom">
                <span class="input-group-addon"><%= fa_icon "search" %></span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            </div>
        </form>
    </div>
    <div class="col-xs-4">

        <a class="btn btn-primary rounded"><%= fa_icon "bell"%></a>
        <a class="btn btn-primary rounded"><%= fa_icon "envelope" %></a>
        <a class="btn btn-primary rounded"><%= fa_icon "shopping-cart" %></a>
    </div>
</header>
<!-- 
<form class="form-inline">
    <div class="input-group">
        <span class="input-group-addon"><%= fa_icon "search" %></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <a class="btn btn-primary"><%= fa_icon "bell"%></a>
    <a class="btn btn-primary"><%= fa_icon "envelope" %></a>
    <a class="btn btn-primary"><%= fa_icon "shopping-cart" %></a>
</form> -->