<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shaddow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path%>" id="logo">sample app</a>
  <%= render "partials/flash_message"%>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <form class="form-inline mx-auto ">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><%= fa_icon "search"%></span>
        </div>
        <input type="text" class="form-control" placeholder="search by name, brand or category" aria-label="Username"
          aria-describedby="basic-addon1" style="width: 400px">
      </div>
    </form>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= fa_icon "question-circle" %> Help <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= sessions_new_path %>"><%= fa_icon "user" %> Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cart</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>

      <li class="nav-item">
        <div class="small">
          <small><%= selected_item(current_user.id) if logged_in? %></small>
        </div>
        <a class="nav-link disabled" href="#"><%= fa_icon "shopping-cart" %> Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= fa_icon "bell" %></a>
      </li>
    </ul>

  </div>
</nav>