<%= provide(:title, "home")%>
<div class="space"></div>
<div class="container home-wrap">
    <div class="row">

        <div class="col-md-3 col-lg-2  d-none d-sm-none d-md-block d-lg-block">
            <div class="section_one_left">

                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>
                <p><%= fa_icon "tv" %> <a>some text here</a></p>

            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-7">
            <div class="section_one_mid"></div>
            <div class="container">
                <div class="row">
                    <div class="col-3 col-sm-3 section_one_mid_under"></div>
                    <div class="col-3 col-sm-3 section_one_mid_under"></div>
                    <div class="col-3 col-sm-3 section_one_mid_under"></div>
                    <div class="col-3 col-sm-3 section_one_mid_under"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 d-none">
            <div class="section_one_right"></div>
            <div class="clear_fix"></div>
            <div class="section_one_right"></div>
        </div>
    </div>
</div>

<div class="clear_fix"></div>

<div class="container-fluid">
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="section_two_1"></div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="section_two_2"></div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="section_two_3"></div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="section_two_4"></div>
                </div>
                <div class="col-6 col-sm-6 col-lg-2">
                    <div class="section_two_5"></div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="section_two_6"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="clear_fix"></div>

    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_1"></div>
                </div>

                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_6"></div>
                </div>
            </div>
            <div class="clear_fix"></div>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_1"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_6"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="clear_fix"></div>
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="clear_fix"></div>

    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_1"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_6"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="clear_fix"></div>
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="clear_fix"></div>

    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_1"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_6"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear_fix"></div>

    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="clear_fix"></div>

    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_1"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_6"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="clear_fix"></div>
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section_four"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="clear_fix"></div>
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_1"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class="section_three_2"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="burst-8-wrap">
                        <div class="burst-8 shaddow"></div>
                    </div>
                    <div class=" section_three_4"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="clear_fix"></div>
    <div class="card shaddow">
        <div class="card-header bg-primary ">this is going to be a header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_1"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class="section_three_2"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_3"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_4"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_5"></div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                    <div class=" section_three_6"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--end-main-container-->
<div class="talkbubble-wrap">
    <button type="button" class="btn fa-lg talkbubble shaddow" data-toggle="modal"
        data-target="#myModal"><%= fa_icon "comments" %> Get quotation</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Get a Quotation</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>