<%= provide(:title, 'cart')%>

<div class="container">
    <% @cart.each do |cart| %>
    <div class="row ">
        <div class="col-3 col-sm-4 col-md-2 col-lg-1">
            <%= image_tag (get_item( cart.good_id).avatar.third), class: "img-fluid" %>
        </div>
        <div class="d-none  d-md-block col-md-3 col-lg-3">
            <h2 class="text-center cart-title"> <%= get_item( cart.good_id).name %> </h2>
            <p class="text-center f_13"> <%= get_item( cart.good_id).description[0..30] + '...' %> </p>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
            <h2 class="text-center cart-title"> Qty </h2>
            <p class="text-center f_13"> <%= cart.quantity%> </p>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
            <h2 class="text-center cart-title"> Price </h2>
            <p class="text-center f_13"> <%= number_to_currency( get_item( cart.good_id).price) %></p>
        </div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <h2 class="text-center cart-title"> Brand </h2>
            <p class="text-center f_13"> <%= get_item( cart.good_id).brand %> </p>
        </div>
        <div class="col-2 col-sm-2 col-md-1 col-lg-2">
            <h2 class="text-center cart-title">Total </h2>
            <p class="text-center f_13"><%= number_to_currency(get_item( cart.good_id).price * cart.quantity)  %></p>
        </div>
        <div
            class="col-9 col-sm-8 col-md-8 col-lg-8 ml-auto mt-0 shaddow cart_bottom_function_box d-flex justify-content-around">
            <span> <%= fa_icon "heart-o" %> add to saved items </span>
            <span><%=  link_to  cart_path(cart.id), method: :delete ,data: {confirm: "are you sure?"},  remote: true do %>
                <%= fa_icon "trash" %> remove from cart
                <%end%>
            </span>
        </div>
    </div>
    <hr>
    <% end %>
</div>
<div class="d-flex justify-content-end total">
    <span>Total: <%= get_total_sum(@all_orders) %></span>
</div>
<div class="d-flex justify-content-end total_message">
    <small class="f_10">without shipping fees</small>
</div>
<div class="cart_foot shaddow d-flex justify-content-center justify-content-md-center justify-content-lg-end">
    <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#checkout">
        KEEP SHOPPING
    </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#checkout">
        CHECKOUT
    </button>
</div>