<%= provide(:title, 'home') %>
<div class="space"></div>
<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-md-3 col-lg-3">
            <div class="good_left">
                <h1 class="text-center"> The category</h1>
                <% 15.times do %>
                <%= label_tag :category, class: "checkbox inline" do %>
                <%=  check_box_tag :category %>
                <span><%= link_to "category one" %></span>
                <% end %>
                <% end %>
            </div>

        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <h1 class="text-center"> The category being displayed </h1>
            <div>
                <div class="d-flex">
                    <div class="mr-auto"> <%= will_paginate @goods %> </div>
                    <div class="form-group">
                        <label for="sel1">Sort by</label>
                        <select class="form-control" id="sel1" style="width: 200px; height: 10px">
                            <% @categories.each do |category|%>
                            <option><%= category %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <% @goods.each do |item| %>
                        <div class="col-6 col-sm-4  col-md-4 col-lg-3">
                            <div class="items">

                                <%= image_tag item.avatar.last, class: "index-main-image-wrap" %>
                                <br>
                                <small>
                                    <%= item.brand %>
                                </small>
                                <p>
                                    <%= item.description[0...45] + " ... " %>
                                </p>
                                <h4>
                                    <%= number_to_currency(item.price, unit: "GH$") %>
                                </h4>

                            </div>
                            <% if logged_in? %>
                            <%= form_for(@order, :url=> { :controller => "orders", :action => "create"}, remote: true ) do |f| %>

                            <%= f.hidden_field :quantity, value:1, class: 'form-control' %>
                            <%= f.hidden_field :user_id, value:current_user.id, class: 'form-control' %>
                            <%= f.hidden_field :good_id, value:item.id, class: "form-control" %>

                            <%= f.submit "ADD TO CART" , class: "d-block mx-auto btn btn-primary" %>
                            <% end %>
                            <% end %>
                            <div class="clear_fix"></div>
                        </div>
                        <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>