<%= provide(:title, "add an item")%>
<div class="space"></div>
<div class="container ">
    <div class=" shaddow col-xs-10 mx-auto col-sm-8  col-md-6 col-lg-5 signup_wrap">
        <h1 class="text-center signup">Upload Item</h1>
        <%= form_for(@good , url: goods_new_path ) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :brand %>
        <%= f.text_field :brand, class: 'form-control' %>

        <%= f.label :category %>
        <%= f.text_field :category,  class: "form-control" %>

        <%= f.label :sex %>
        <%= f.text_field :sex ,class: "form-control" %>

        <%= f.label :description %>
        <%= f.text_area :description ,class: "form-control" %>

        <%= f.label :price %>
        <%= f.text_field :price ,class: "form-control" %>

        <%= f.submit "upload" , class: "btn btn-primary" %>

        <% end %>

    </div>
</div>