<%= provide(:title, "item name")%>
<div class="space"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-1">

            <%= image_tag @good.avatar.second, class: "show-main-image-wrap" %>
            <%= image_tag @good.avatar.third, class: "show-main-image-wrap" %>
            <%= image_tag @good.avatar.fourth, class: "show-main-image-wrap" %>
            <%= image_tag @good.avatar.first, class: "show-main-image-wrap" %>

        </div>
        <div class="col-10 col-sm-4 col-md-4 col-lg-4">
            <%= image_tag @good.avatar.last, class: "main-image-wrap" %>
        </div>
        <div class="col-8 col-sm-4 col-md-4 col-lg-5">
            <h1 class="text-center"><%= @good.name %></h1>
            <small class="mx-auto"><%= @good.brand %></small>
            <hr>
            <p>sample app</p>
            <hr>

            <p><%= @good.description %></p>
            <hr>
        </div>
        <div class="col-4 col-sm-2 col-md-2 col-lg-2">
            <div class="poster"></div>
            <div class="poster"></div>
        </div>
    </div>
</div>