<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title)%> | sample app</title>
  <%= render "partials/header" %>
  <%= render "partials/shims" %>
</head>

<body>
  <%= render "partials/navigation"%>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <%= render "partials/footer"%>
</body>

</html>